<%= form_for([@todo_list, @todo_list.todo_items.build]) do |f| %>
<div class="todo_item_form">
    <%= f.text_field :content, placeholder: "New Todo", class: "input_field" %>
    <%= f.submit class: "primary_button" %>
   </div>
   <% end %>